/* Sections */
.section {
    padding: 1rem 0;
    overflow: visible;
    margin-bottom: 1rem;
    scroll-margin-top: 70px;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.section p {
    color: #cccccc;
    margin-bottom: 1rem;
}

/* Experience */
.experience-item {
    display: block;
    background-color: #2a2a2a;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    border-left: 4px solid #007AFF;
    color: inherit;
    text-decoration: none;
    transition: transform 0.2s;
}

.experience-item:hover {
    transform: scale(1.01);
}

.experience-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.experience-text {
    max-width: 80%;
}


.experience-logo {
    background-color: #ffffff;
    padding: 0.4rem;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    min-width: 60px;
}

.experience-logo img {
    max-width: 60px;
    max-height: 60px;
    /* width: auto;
    height: auto; */
    object-fit: contain;
}

.experience-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
    color: #ffffff;
}